html, body
{
    width: 100%;
    height: 91%;
}

body {
  padding: 10px;
  position: absolute;
 background-image: url("/assets/img/background.jpg") !important;
      background-size: cover;
      background-position: center center;

}
h1{
  margin-top: 10%;
  margin-left: 36%;

}
h2{
   margin-top: 0%;
  margin-left: 30%;
}
.button {
  border-radius: 4px;
  background-color: dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-left: 40%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
